<!DOCTYPE html>
<html ng-app="app" ng-cloak>

<head>
	<title>Negaimasu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
	<div ng-controller="NavbarController as nav" ng-cloak>
		<md-content>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button fa fa-bars" aria-label="Settings">
					</md-button>
					<h2>
						<span>{{nav.status._user}}</span>
					</h2>
					<span flex></span>
					<md-button class="md-icon-button fa fa-heart" aria-label="Favorite">
					</md-button>
					<md-button class="md-icon-button fa fa-ellipsis-v " aria-label="More">
					</md-button>
				</div>
			</md-toolbar>
			<ui-view></ui-view>
		</md-content>
	</div>
	<!-- Ext Libs -->
	<script src="angular/angular.js"></script>
	<script src="angular-material/angular-material.js" charset="utf-8"></script>
	<script src="angular-animate/angular-animate.js" charset="utf-8"></script>
	<script src="angular-aria/angular-aria.js" charset="utf-8"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="angular-material/angular-material.min.js"></script>
	<script src="angular-aria/angular-aria.js"></script>
	<script src="angular-animate/angular-animate.min.js"></script>
	<script src="js/main.min.js"></script>
</body>

</html>
